$background: #1f1f1f;
$backgroundHover: #2c2c2c;
$button: #2a2a2a;
$buttonH: #303030;
$grey: #373737;
$white: #ffffff;
$darkGrey: #727272;
$red: #da1b32;
$redHover: #e9253c;

.buttonClass {
  border: none;
  outline: none;
}
