@use './colours.scss' as colour;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  flex-shrink: 0;
  user-select: none;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // padding-right: 0vw;
}

.radioContainer {
  display: flex;
  justify-content: center;
  // align-items: center;
}

.radio {
  width: 23.125vw;
  height: 66.852vh;
  z-index: 1;
}

.radioHouse {
  position: absolute;
  width: 11.302vw;
  height: 24.352vh;
  background: colour.$background;
  margin-left: -1.8vw;
  bottom: 16.15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.4vh;
}

.radioTop {
  width: 11.302vw;
  height: 1.852vh;
  background: colour.$grey;
  border-radius: 0.156vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.33vw;
}

.radioTop p {
  font-weight: 600;
  font-size: 0.521vw;
  color: colour.$white;
}

.radioBody {
  // flex: 1 1 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.4vh 0;
  gap: 0.75vh;
  z-index: 2;
  position: relative;

  .radioInput {
    @extend .buttonClass;
    width: 9.74vw;
    height: 7.963vh;
    background: colour.$grey;
    border-radius: 0.156vw;
    text-align: center;
    font-weight: 600;
    font-size: 1.667vw;
    color: colour.$white;
  }

  button {
    width: 9.74vw;
    @extend .buttonClass;
    height: 2.407vh;
    background: colour.$red;
    border-radius: 0.156vw;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: colour.$redHover;
    }
  }

  .radioMiddle {
    width: 9.74vw;
    background: colour.$grey;
    border-radius: 0.156vw;
  }

  .radioSetting {
    height: 5.185vh;
    padding: 0.7vh 0.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    // gap: 0.7vh;
  }

  .radioFave {
    height: fit-content;
    padding: 0.648vh 0.33vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    .radioFaveRow {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }

    h2 {
      text-align: center;
    }

    button {
      background: colour.$button;
      @extend .buttonClass;
      width: 0.938vw;
      height: 1.667vh;
      border-radius: 0.156vw;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0.33vw;

      &:hover {
        background: colour.$buttonH;
      }
    }
  }

  .radioMap {
    display: flex;
    flex-direction: column;
    gap: 0.3vh;
    height: 12.2vh;
    overflow-y: auto;

    .radioFaveItem {
      width: 100%;
      height: 2.963vh;
      background: colour.$button;
      border-radius: 0.156vw;
      padding: 0 0.469vw;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .radioMapCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 0.425vh;
  }

  h1 {
    font-weight: 600;
    font-size: 0.833vw;
    text-align: center;

    color: #ffffff;
  }

  .radioFaveItemRow {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.4vw;

    svg {
      cursor: pointer;
    }
  }

  .radioFaveItemBetween {
    justify-content: space-between;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 7.8vw;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 0.12vw;
  background: #1f1f1f;
  height: 0.741vh;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  // background-color: rgb(167, 19, 19);
  border-radius: 0.1vw;
  // border: 2px solid #1f1f1f;
  box-shadow: -20.833vw 0 0 20.833vw #ffffff;
}

.powerOn {
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

h2 {
  font-weight: 600;
  font-size: 0.75vw;
  color: colour.$white;
}

h3 {
  font-weight: 600;
  font-size: 0.521vw;
  color: #9d9d9d;
}

.radioToggle {
  width: 2.188vw;
  height: 2.13vh;
  background: #1f1f1f;
  border-radius: 0.208vw;
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;

  .radioToggleBlob {
    width: 0.885vw;
    height: 1.389vh;
    border-radius: 0.208vw;
    transition: 0.3s;
  }

  .radioBlobRight {
    background: #27903a;
    margin-left: 0.75vw;
  }

  .radioBlobLeft {
    background: #902727;
  }
}

.radioBottom {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5vw;
  position: absolute;
  z-index: 2;
  bottom: 1.5vh;

  .radioSelButton {
    background: colour.$red !important;

    path {
      fill: colour.$white !important;
    }
  }

  button {
    @extend .buttonClass;
    width: 1.719vw;
    height: 3.056vh;
    background: colour.$grey;
    border-radius: 0.156vw;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    path {
      transition: 0.3s;
    }

    &:hover {
      background: colour.$red;

      path {
        fill: colour.$white !important;
      }
    }
  }
}

::-webkit-inner-spin-button {
  display: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    // opacity: 0;
  }
  to {
    transform: translateY(0);
    // left: 0;
    // margin-left: 0;
    // opacity: 1;
  }
}

@keyframes slideUpHome {
  from {
    transform: translateY(0);
    // opacity: 1;
  }
  to {
    transform: translateY(100%);
    // opacity: 0;
    // display: none;
  }
}

.slideUpHomeAnim {
  animation: slideUpHome 0.5s forwards !important;
}

.slideUpAnim {
  animation: slideUp 0.5s ease-out forwards;
}

::-webkit-scrollbar {
  display: none;
}
