@use '../colours.scss' as colour;

.radioMain {
  position: absolute;
  top: 26.481vh;
  left: 5vw;
  width: 10.938vw;
  height: 24.074vh;
  border-radius: 0.417vw;
  background: colour.$background;
  padding: 0.556vh 0.573vw;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 400;
    font-size: 0.833vw;
    color: colour.$white;
  }

  h3 {
    font-weight: 400;
    font-size: 0.781vw;
    color: colour.$white;
  }

  .radioTopBarGap {
    gap: 0.573vw;
  }

  .radioTopBar {
    width: 0.104vw;
    height: 1.481vh;
    background: colour.$topBar;
    border: 0.052vw solid colour.$topBarBorder;
  }
}

.bottomBarFlex {
  gap: 0.26vw;
  justify-content: center;
}

.bottomCircle {
  width: 1.927vw;
  height: 1.927vw;

  background: colour.$bottombar;
  border: 0.078vw solid colour.$bottomBarCircle;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  path {
    transition: 0.3s;
  }

  &:hover {
    background: colour.$blueGradient;
    border-color: colour.$blueBorder;

    path {
      fill: colour.$blueBorder;
    }
  }
}

.bottomCircleBlue {
  background: colour.$blueGradient !important;
  border-color: colour.$blueBorder !important;

  path {
    fill: colour.$blueBorder !important;
  }
}

.radioHeight {
  height: 17.593vh;
  padding: 0.37vh 0;
  display: flex;
  flex-direction: column;
  gap: 0.741vh;

  .connectButton {
    width: 100%;
    height: 3.056vh;

    p {
      font-weight: 700;
      font-size: 0.725vw;
    }
  }
}

.frequency {
  width: 100%;
  height: 9.167vh;
  background: colour.$topBar;
  border: 0.052vw solid colour.$topBarBorder;

  input {
    font-weight: 400;
    font-size: 3.021vw;
    color: colour.$white;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center;
    outline: none;
  }
}

.radioFave {
  width: 100%;
  height: 3.333vh;
  background: colour.$topBar;
  border: 0.052vw solid colour.$topBarBorder;
  padding: 0 0.677vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rowFlex {
    gap: 0.26vw;
  }

  svg {
    cursor: pointer;
  }
}

.faveFlex {
  flex-direction: column;
  gap: 0.556vh;
  display: flex;
  // flex: 1 auto;
  height: 13.333vh;
  overflow-y: auto;
}

.faveAdd {
  width: 2.5vw;
  height: 2.407vh;
  border-radius: 0.26vw;
  border: 0.052vw solid colour.$blueBorder;
  align-self: flex-end;
  margin-bottom: 0.37vh;
}

.xCursor {
  cursor: pointer;
  width: 1.042vw;
  height: 1.042vw;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.settings {
  width: 100%;
  height: 5.833vh;
  background: colour.$topBar;
  border: 0.052vw solid colour.$topBarBorder;
  padding: 0.417vw 0.677vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .rowFlex {
    gap: 0.417vw;
  }

  h3 {
    font-weight: 500;
    font-size: 0.625vw;
    color: #a4a4a4;
  }
}

.settingsRow {
  flex-direction: row !important;
  // align-items: center;

  .settingsCol {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 0.37vh;
  }
}

.settingsSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 7.292vw;
  height: 0.741vh;
  background: #1b1b1b;
  outline: none;
  cursor: pointer;
}

.settingsSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.729vw;
  height: 0.729vw;
  background: transparent;
  cursor: pointer;
}

.settingsSlider::-moz-range-thumb {
  width: 0.729vw;
  height: 0.729vw;
  background: transparent;
  border: none;
  cursor: pointer;
}

.radioToggle {
  width: 2.396vw;
  height: 2.593vh;
  background: colour.$background;
  display: flex;
  align-items: center;
  padding: 0 0.26vw;
  cursor: pointer;
  align-self: center;
  margin-left: 0.417vw;

  .radioToggleBlob {
    width: 0.781vw;
    height: 1.574vh;
    transition: 0.3s;
  }

  .radioBlobRight {
    background: colour.$greenGrad;
    margin-left: 1.05vw;
  }

  .radioBlobLeft {
    background: colour.$redGrad;
  }
}
